html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
}
.stop-scroll-body {
  overflow: hidden;
}

body {
  font-family: 'elza-text';
  font-weight: 400;
  font-style: normal;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0px 0 70px 30px #380e80;
    // box-shadow: 1px 1px 0 #380E80, 0 0 10px 4px #380E80,
  }

  50% {
    box-shadow: 0px 0 10px 5px #380e80;
    // box-shadow: 1px 1px 0 #380E80, 0 0 20px 10px #380E80,
  }
}

@keyframes skyfloat {
  0%{
  transform: translateY(0px);
  }
  20%{
  transform: translateX(-15px);
  }
  30%{
  transform: translateY(-12px);
  }
  40%{
  transform: translateX(-8px);
  }
  50%{
  transform: translateY(0px);
  }
  60%{
  transform: translateX(5px);
  }
  80%{
  transform: translateY(8px);
  }
  90%{
  transform: translateX(6px);
  }
  100%{
  transform: translateY(0px);
  }
  }

@keyframes cloudfloat {
  0%{
    transform: translateY(100%);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-100%);
  }
}

@keyframes outerrotation {
  from {
    transform: rotate(0deg);
    box-shadow: 0 0 5px 5px #ff643573;
  }

  to {
    transform: rotate(359deg);
    box-shadow: 0 0 80px 0px #ff643573;
  }
}

@keyframes rotationReverse {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}

* {
  box-sizing: border-box;
  transition: all 0.15s ease-out 0s;
  font-family: 'elza-text', -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  transition: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

select:invalid {
  color: rgb(102, 102, 102, 0.5);
}

select:valid {
  color: rgb(102, 102, 102);
}

@-webkit-keyframes urmove {
  from {
    top: 0;
  }

  to {
    top: 27px;
  }
}

@keyframes urmove {
  from {
    top: 0;
  }

  to {
    top: 27px;
  }
}

.app {
  position: relative;
}

button {
  border: 0;
  box-shadow: none;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
}

svg {
  flex-shrink: 0;
}

*::selection {
  color: black;
  background: #ffdfd5;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.items-end {
  align-items: flex-end;
}

.inline-flex {
  display: inline-flex;
}

.profile-headroom .headroom{
  z-index: 9 !important;
}

.headroom-wrappers {
  transition: none;
  z-index: 9;

  * {
    transition: none;
    scroll-behavior: smooth;
  }

  & + main {
    position: relative;
    z-index: 0;
  }
}

a,
.custom-button {
  // line-height: initial;
  &.outline-button {
    font-family: 'elza-text';
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: -0.02em;
    background-color: transparent;
    padding: 7px 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    text-decoration: none;
    text-align: center;

    > svg,
    > img {
      margin-left: 8px;
    }

    &.sm {
      min-height: 40px;
      font-size: 14px;
    }

    &.md {
      min-height: 48px;
      font-size: 16px;
    }

    &.lg {
      min-height: 48px;
      font-size: 20px;
    }

    &.primary {
      color: white;
      border: 2px solid white;

      &:hover {
        color: #ff6435;
        background-color: white;
      }
    }

    &.secondary {
      color: #666666;
      border: 2px solid #cccccc;

      &:hover {
        border-color: #ff6435;
        background-color: #ff6435;
        color: white;
      }
    }
  }

  &.fullwidth{
    width:100% !important;
  }

  &.button {
    padding: 7px 18px;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: -0.02em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-height: 48px;
    box-shadow: 12px;
    border: 0;
    text-decoration: none;
    text-align: center;

    > svg,
    > img {
      margin-left: 8px;
      // margin-top: 2px;
    }

    &.sm {
      min-height: 32px;
      font-size: 12px;
    }

    &.md {
      min-height: 40px;
      font-size: 14px;
    }

    &.lg {
      min-height: 48px;
      font-size: 16px;
    }

    &.primary {
      color: #ff6435;
      background-color: white;

      &:hover {
        color: white;
        background-color: #ff6435;

        .fill-social-icon {
          fill: white;
        }
      }
    }

    &.simple {
      color: #ff6435;
      font-weight: 500;
      text-decoration: underline;
      padding-left: 0;
      padding-right: 0;
      margin-right: 1rem;
      &:hover {
        color: #fff;
        text-decoration-color: #fff;
      }
    }

    &.theme {
      background-color: #ff6435;
      color: white;

      svg {
        path {
          fill: white;
        }
      }
    }
    &.outline {
      color: white;
      background-color: rgba(255, 100, 53, 0);
      border: 2px solid white;
      svg {
        path {
          fill: white;
        }
      }

      &:hover {
        color: #ff6435;
        border: 2px solid #ff6435;
        svg {
          path {
            fill: #ff6435;
          }
        }
      }
    }
    &.outline-light {
      color: #333333;
      background-color: white;
      border: 2px solid #999999;
      svg {
        path {
          fill: white;
        }
      }

      &:hover {
        color: #ff6435;
        border: 2px solid #ff6435;
        background-color: rgba(255, 100, 53, 0.05);
        svg {
          path {
            fill: #ff6435;
          }
        }
      }
      &:active {
        color: #fff;
        border: 2px solid #ff6435;
        background-color: #ff6435;
        svg {
          path {
            fill: #ff6435;
          }
        }
      }
      &:focus {
        color: #ff6435;
        border: 2px solid rgba(255, 100, 53, 0.3);
        background-color: rgba(255, 100, 53, 0.05);
        svg {
          path {
            fill: #ff6435;
          }
        }
      }
    }
    &.pill {
      background-color: #7441cc;
      border-radius: 50px;
      font-weight: bold;
      letter-spacing: 0.01em;
      color: white;
      padding: 8px 18px;
      cursor: pointer;
      text-decoration: none;
    }
    &.shadow {
      box-shadow: 0px 1px 3px rgb(0 0 0 / 15%);
    }
    &.margin-top {
      margin-top: 20px;
    }
  }
}

.headroom--scrolled {
  z-index: 4 !important;
  display: none;
}

.container {
  width: 100%;
  max-width: 1170px !important;

  @media only screen and (max-width: 1199px) {
    max-width: 960px !important;
  }

  @media only screen and (max-width: 991px) {
    max-width: 750px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  @media only screen and (max-width: 767px) {
    max-width: 540px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

.embla {
  position: relative;

  &__dots {
    z-index: 1;
    bottom: 1.2rem;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__dot {
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      margin-right: 0.75rem;
      margin-left: 0.75rem;

      &:after {
        background: var(--background-site);
        border-radius: 0.2rem;
        width: 100%;
        height: 0.3rem;
        content: '';
      }
    }
  }

  &__dot,
  &__button {
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
  }

  &__button {
    width: 53px;
    height: 48px;
    background: linear-gradient(270deg, #e7e7e7 8.55%, #ffffff 33.26%);
    box-shadow: 6.83739px 5.12804px 9.40141px 3.41869px rgba(0, 0, 0, 0.05),
      10px 22px 27px 5px rgba(0, 0, 0, 0.5);
    border-radius: 32px 4px 4px 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:not(:disabled) {
      &:hover {
        svg {
          .fill-arrow {
            fill: #ff6435;
          }
        }
      }
    }
  }

  &__button__next {
    border-radius: 32px 4px 4px 32px;
    right: 0;

    svg {
      transform: rotate(180deg);
    }
  }

  &__button__prev {
    border-radius: 4px 32px 32px 4px;
    left: 0;
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  min-width: 0;
  position: relative;
  flex-shrink: 0;
}

.embla__class-names {
  transition: opacity 0.2s ease-in-out;
}

.embla__class-names:not(.is-selected) {
  opacity: 0.16;
}

.embla__dot--selected:after {
  background: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
}

.embla__button {
  z-index: 1;
  opacity: 1;
}

.embla__button:disabled {
  opacity: 0.3;
}

.embla__button__svg {
  width: 65%;
  height: 65%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'articulat-cf', -apple-system, BlinkMacSystemFont;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  font-weight: 600;
  font-size: 2.25rem;
}

h4 {
  font-weight: 500;
  font-size: 1.5rem;
}

h5 {
  font-weight: 600;
  font-size: 18px;
}

p.lead {
  font-size: 20px;
}

.attractive-business {
  button {
    font-family: 'articulat-cf';
  }
}

.tab-list-item {
  h4 {
    font-family: 'elza-text';
  }
}

.pinned {
  color: #170c2a;
}

.embla__button__next {
  color: #170c2a;
}

.swiper-button-prev {
  color: #000;
}

.header {
  z-index: 10;
  width: 100%;
  position: relative;

  &.fixed-header {
    position: sticky;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 13;
    // background-color: #170c2a;
    transition: transform 200ms ease-in-out;
  }

  &.hide-header {
    position: sticky;
    transform: translateY(-100%);
    // transition: transform 200ms ease-in-out;
  }

  &.show-header {
    // transform: translateY(0%);
    position: sticky;
    // transition: transform 200ms ease-in-out;
  }

  // .headroom {
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 100;
  // }
  // // .headroom--unfixed {
  // //   position: relative;
  // //   transform: translateY(0) !important;
  // // }
  // .headroom--scrolled {
  //   transition: transform 200ms ease-in-out;
  // }
  // .headroom--unpinned {
  //   position: fixed;
  //   transform: translateY(-100%);
  // }
  // .headroom--pinned {
  //   position: fixed;
  //   transform: translateY(0%);
  // }

  // &.show > :first-child {
  //   transform: translateY(0%);
  //   // background-color: #170c2a;
  // }

  // // .not-show > :first-child {
  // //   transform: translateY(-100%);
  // // }

  // .hide {
  //   transform: translateY(-100%);
  // }
}

.secondary-header {
  z-index: 2;
  width: 100%;

  &.fixed-secondary-header {
    position: sticky;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 13;
    transition: transform 200ms ease-in-out;
  }

  &.hide-secondary-header {
    position: sticky;
    transform: translateY(-100%);
    // transition: transform 200ms ease-in-out;
  }

  &.show-secondary-header {
    position: sticky;
  }
}

.powerful-tools {
  &.desktop {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &.mobile {
    @media screen and (min-width: 991px) {
      display: none;
    }
  }
}

.primary {
  background: linear-gradient(to right, rgb(255 100 53) 50%, white 50%);
  background-size: 202% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  border-radius: 100px;
}

.primary:hover {
  background-position: left bottom;
}

.secondary {
  color: white;
  background: linear-gradient(to right, white 50%, rgb(255 100 53) 0%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  svg {
    path {
      fill: white;
    }
  }
}

.secondary:hover {
  background-position: left bottom;
  color: rgb(255 100 53);
  svg {
    path {
      fill: rgb(255 100 53);
    }
  }
}

.desktop-only {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.mobile-only {
  @media screen and (min-width: 991px) {
    display: none;
  }
}

.what-you-need-intro {
  &.desktop {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &.mobile {
    @media screen and (min-width: 991px) {
      display: none;
    }
  }
}

.webinar-campaign{
  .desktop{
    .campaign-form{
      width:504px;
      position: sticky;
      margin-left:50px;
      top:5px;
    }
    @media (min-width:1200px) and (max-width:1319px){
      .campaign-form{
      width:100%;
      margin-left:20px;
      }
    }
    @media (min-width:991px) and (max-width:1199px){
      .campaign-form{
      position: sticky;
      width:100%;
      margin-left:20px;
      }
    }
  }
}

input.has-error:-webkit-autofill-selected, input.has-error:-internal-autofill-selected {
  background-color: transparent !important;
  color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  background-color: transparent !important;
}

.search-box .search-input__menu-list {
  max-height: 27vh !important;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #170c2a;
  // opacity: 0.8;
  height: 72px;
}

.border-animated {
  font-size: 1.5rem;
  border: 0.1rem solid transparent;
  padding: 3rem 6rem;
  border-image: conic-gradient(
      from var(--angle),
      #a8efff1a,
      #a8efff,
      #a8efff 0.15turn,
      #a8efff1a 0.25turn
    )
    30;
  animation: border-animate 2500ms linear infinite forwards;
}

@keyframes border-animate {
  100% {
    --angle: 420deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

.btn-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.effective-div{
  padding: 25px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.4);
border: 1px solid rgba(153, 153, 153, 0.15);
box-shadow: 0px 8.14815px 6.51852px rgba(83, 30, 0, 0.03), 0px 20px 13px rgba(83, 30, 0, 0.04), 0px 38.5185px 25.4815px rgba(83, 30, 0, 0.04);
backdrop-filter: blur(27px);
}


:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.vertical-marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-y var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse{
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

/* Parent wrapper */
.campaign-wrapper{
gap: var(--gap),
}

.new-body{
  background-color: #170c2a;
  background: #170C2A;
  display: block;
  // height: 73px;
}
.the-main{
  background-color: #170c2a;
  background: #170C2A;
  display: block;
  // height: 73px;
}
.mask-scroll{
   --scrollbar-width: 8px;

   --mask-height: 32px;

   overflow-y: auto;

   height: 200px;

   padding-bottom: var(--mask-height);

   padding-right: 20px;


   --mask-image-content: linear-gradient(
       to bottom,
       black var(--mask-height),
       black calc(100% - var(--mask-height)),
       transparent
   );

   --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

   --mask-image-scrollbar: linear-gradient(black, black);

   --mask-size-scrollbar: var(--scrollbar-width) 100%;

   mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
   mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

   mask-position: 0 100%, 100% 0;

   mask-repeat: no-repeat, no-repeat;
}

.bottom-scroll.mask-scroll{
  -webkit-mask-position: 0 100%, 0,100%;
    --mask-image-content: linear-gradient( to top, black var(--mask-height), black calc(100% - var(--mask-height)), transparent );
}

.scroll-btn{
  position: fixed !important;
  bottom: 100px;
  z-index: 50;
}

.webinar-popup{
  position: fixed;
    top: 0px;
    padding-top:0px;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 30%);
    z-index: 22;
    overflow-y: scroll;
}

.webinar-popup::-webkit-scrollbar{
  display: none;
}

// @keyframes slide-up {
//   0% {
//     transform: translateY(100%);
//     opacity: 0;
//   }
//   100% {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }
// .text-animation {
//   animation: slide-up 1s ease-out;
// }
