.fill-social-icon {
  fill: #ff6435;
}

.fill-arrow {
  fill: #666666;
}

.fill-aside-list-icon {
  fill: #999999;
}

.fill-stroke-list-icon {
  stroke: #999;
}

.fill-aside-title-icon {
  fill: #999999;
}